
@media screen and (max-width:895px){

   
    main{
        margin: 0;
        overflow: hidden;
        background-color: #343A40;
        color: white;
    
    }
      
   
 
   .drop{
    display: block;
    text-align: center;
    border-bottom: 4px solid  #343A40;
    background-color: #FF7957;
    margin-bottom: 40px;
    width: 100%;
   
   }

   .menu_drop{
    display: none;
    background-color: white;
   }
   
   .ul_drop{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-left: 0px;
   
   }

   .ul_drop > li{
    cursor: pointer;
    border: 1px solid black;
    padding: 10px 0 10px 0;
    width: 100%;
    margin-right: 0px;

   }


   .ul_drop > li:hover{
    transition-duration: 0.5s;
    background-color: #FF7957;
    color: white;
   }

   .ul_drop > li:hover > a{
    transition-duration: 0.5s;
    color: white;

   }

   li > a{
    color: black;
   }

   li > a:hover{
    color: white;
   }


   h1{
    margin-top: 30px;
   }

   .foto_menu{
    width: 64px;
    cursor: pointer;

   }

   .cv{
    margin-top: 50px;
    margin-bottom: 30px;
   }

  
   .nav_bar{
    display: none;
   }

    .div_foto{
        display: none;
    }

    .div_texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        margin-left: 0px;
      
    }

    
    
    .foto_sobre{
        display: flex;
        margin: auto;
    }
    

    .container_sobre{
      
       display: flex;
       flex-direction: column;
   
        
    }

    .texto_sobre_div{
        margin-top: 50px;
       
       
    }


    .container_certificados{
        display: flex;
        flex-direction: column;
      
      
    }

    .foto_certificado{
        width: 100%;
        cursor: pointer;
        margin-bottom: 15px;
    }

  
}

@media screen and (max-width:600px){

    .container_projetos{
        display: flex;
        align-items: center;
   
    }

    .texto_projeto{
        max-width: 340px;
        margin: 40px;
     }
    
     .img-wrapper{
         max-width: 340px;
         height: 200px;
      
     }
}